@import "./variables";

.main {
  max-height: 100vh;
  height: 100vh;
  width: 85vw;
  overflow-y: auto;
  h2 {
    margin-bottom: 0;
    padding-left: 10px;
  }
}

.input-container {
  display: flex;
  justify-content: center;
  padding-top: 25px;
  flex-wrap: wrap;
  gap: 10px;

  input {
    width: 50%;
    padding: 5px 10px;
    border: 1px solid;
    border-radius: 10px;
    background-color: white;
  }
  div {
    display: flex;
    gap: 10px;

    button {
      padding: 5px 10px;
      border: 1px solid;
      border-radius: 10px;
      cursor: pointer;
      background-color: white;
      color: $color_dark_purple;
    }
  }

  @media (max-width: 569px) {
    input {
      width: 90%;
    }
  }
}

// .card-container{

// }

.card-list-container {
  width: 100%;
  //   height: 73.2vh;
  height: 90%;
  padding-top: 20px;
  //   margin: 40px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  overflow-y: auto;
}

.course-card {
  border: 1px solid gray;
  border-radius: 10px;
  width: 300px;
  max-height: 450px;
  display: flex;
  flex-direction: column;
  img {
    // width: 100%;
    border-radius: 10px 10px 0 0;
  }
  cursor: pointer;
}
.course-description {
  padding: 0 10px;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    svg {
      border-radius: 50%;
      padding: 5px;
      &:hover {
        background-color: lightgray;
        a {
          pointer-events: none;
        }
      }
    }
  }
}
.img-container {
  height: 200px;
  img {
    // object-fit: contain;
    width: 100%;
    height: 100%;
  }
}
